.sidebar-active .text {
    margin-left: 2rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.sidebar-active .line {
    display: none;
}
.sidebar-active .arrow {
    display: block;
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity));
}
