---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
---

<Layout title="Gadiel Hernandez - Desarrollador Web" description='Portafolio Gadiel Hernandez - Desarrollador Web Full Stack'>
	<main class="pt-24 lg:w-1/2 tracking-wide">
		<section id="about" class="section">
			<About />
		</section>
		<section id="experience" class="section pt-28">
			<Experience />
		</section>
		<section id="projects" class="section">
			<h1>Exp</h1>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
			<p>Estoy trabajando en ello...</p>
		</section>
	</main>
</Layout>

<style is:global>
	strong {
		font-weight: 500;
		color: white;
	}
	strong:hover {
		--tw-text-opacity: 1;
    	color: rgb(45 212 191 / var(--tw-text-opacity));
		cursor: default;
	}
	p {
		margin-bottom: 12px;
	}
</style>
