<p>
	¡Hola! Soy un desarrollador web con enfoque <strong>autodidacta</strong>, por lo que constantemente me gusta explorar 
	y dominar nuevas tecnologías. Siempre estoy dispuesto a trabajar de manera <strong>colaborativa</strong>, valorando la importancia de <strong>escuchar y compartir</strong>
	ideas con mi equipo para encontrar <strong>soluciones efectivas y creativas</strong> a los problemas que enfrentamos.
</p>
<p>
	Como desarrollador me apasiona el crear soluciones tecnológicas que generen un cambio significativo e <strong>impacten en mi contexto social</strong>. 
</p>