---
import ExperienceItem from './ExperienceItem.astro'
---

<ol class="border-l border-slate-500 ml-3 group/list">
    <ExperienceItem 
        date="Diciembre 2017- Actual"
        company="Greenapsis"
        role="Full Stack Developer"
        technologies={['Javascript', 'HTML', 'CSS', 'AWS', 'Vue.js', 'Node.js', 'MQTT', 'Express', 'Typescript', 'MongoDB', 'Firebase']}
        link='https://greenapsis.com/'
    >
        <p>
            Colaboro en el departamento de I+D siendo responsable de crear y desarrollar un sistema
            de comunicaciòn para dispositivos IoT basado en el modelo MQTT, en el cual se procesan +1000 
            mensajes por minuto.
        </p>
        <p>
            También colaboro con el desarrollo de API's para consulta de información de los recursos de los
            sistemas creados dentro del departamento.
        </p>
        <p>
            Además de apoyar con el desarrollo de las aplicaciones Front End que son actualmente utilizados
            por los clientes de la empresa.
        </p>
    </ExperienceItem>   

    <ExperienceItem 
        date="2017"
        company="Fábrica de Software UANL"
        role="Investigación, análisis y desarrollo web"
        technologies={['HTML', 'CSS', 'GameMaker']}
        link='http://www.hipomath.mx/'
    >
        <p>
            Colabore en el equipo para el desarrollo de la aplicación <strong>HIPO</strong>,
            una aplicación de aprendizaje de habilidades lógico-matemáticas para personas con 
            discapacidad intelectual.
        </p>
        <p>
            Participe en la investigación y análisis de la metodología de enseñanza de la  
            organización <strong>TEDI</strong>, para poder adaptarla a una aplicación multiplataforma.  
            También participé en el diseño de todo el contenido para la aplicación, además de desarrollar
            la página web.
        </p>
        
        <p>
            Con este proyecto obtuvimos el premio <strong> al Reconocimiento a la 
            Responsabilidad Social 2018</strong> otorgado por la UANL.
        </p>
    </ExperienceItem>  
</ol>