---
import ExperienceItem from './ExperienceItem.astro'
---

<ol class="border-l border-slate-500 ml-3 group/list">
    <ExperienceItem 
        date="Diciembre 2017- Actual"
        company="Greenapsis"
        role="Full Stack Developer"
        technologies={['Javascript', 'HTML', 'CSS', 'AWS', 'Vue.js', 'Node.js', 'MQTT', 'Express', 'Typescript', 'MongoDB', 'Firebase']}
        link='https://greenapsis.com/'
    >
        <p>
            Colaboro en el departamento de I+D siendo responsable de crear y desarrollar un sitema
            de comunicaciòn para dispositivos IoT basado en el modelo MQTT, en el cual se procesan +1000 
            mensajes por minuto.
        </p>
        <p>
            Tambien colaboro con el desarollo de API's para consulta de informacion de los recursos de los
            sitemas creados dentro de el departamente.
        </p>
        <p>
            Ademas de apoyar con el desarrollo de lass aplicaciones Front End que son actualmente utilizados
            por los clientes de la empresa.
        </p>
    </ExperienceItem>   

    <ExperienceItem 
        date="2017"
        company="Fábrica de Software UANL"
        role="Investigación, análisis y desarrollo web"
        technologies={['HTML', 'CSS', 'GameMaker']}
        link='http://www.hipomath.mx/'
    >
        <p>
            Colabore en el equipo para el desarrollo de la aplicacion <strong>HIPO</strong>,
            una aplicacion de aprendizaje de habilidades de habilidades lógico-matemáticas para personas con 
            discapacidad intelectual.
        </p>
        <p>
            Participe en la investigación y análsis de la metodologia de enseñanza de la 
            organizacion <strong>TEDI</strong>, para poder adaptarla a una aplicacion multiplataforma. 
            Tambien participe en el diseño de todo el contenido para la aplicación, ademas de desarrollar
            la página web.
        </p>
        
        <p>
            Con este proyecto obtuvimos el premio <strong> al Reconocimiento a la 
            Responsabilidad Social 2018</strong> otorgado por la UANL.
        </p>
    </ExperienceItem>  
</ol>