---
import Card from './Card.astro'
import academiaImage from '../img/academia.png'
import plomeriaImage from '../img/laPlomeria.png'
---

<div class="group/list">
    <Card
        image={academiaImage}
        altImage="imagen de la Academia"
        title="Academia"
        technologies={['HTML', 'CSS', 'JavaScript', 'Vue.js', 'Firebase']}
        link='https://creser.fuentedevida.com.mx/login'
    >
        <div class="text-sm leading-relaxed tracking-wider">
            <p>
                Desarrolle como voluntario esta plataforma que permite administrar un curso de la Academia de la organización Fuente de Vida.
            </p>
            <p>
                La plataforma permite gestionar varios grupos de estudiantes, gestionar las clases online y presenciales, además dar la posibilidad de contestar y calificar las tareas y exámenes de los estudiantes.
            </p>
        </div>
    </Card>
    <Card
        image={plomeriaImage}
        altImage="imagen de la pagine de la Plomeria"
        title="Pagina La Plomeria"
        technologies={['WordPress', 'PHP']}
        link='https://laplomeria.com.mx/'
    >
        <div class="text-sm leading-relaxed tracking-wider">
            <p>
                Desarrolle de una página estática para el negoció La Plomería. Modifique una plantilla WordPress 
                para poder utilizar la tienda como un catálogo de productos y poder hacer que los botones de acción redirijan al WhatsApp de la empresa.
            </p>
        </div>
    </Card>
</div>